server {
  listen 8080;
  
  # Docker internal dns server
  resolver 127.0.0.11;
  
  location /ping {
        access_log off;
        add_header 'Content-Type' 'text/plain';
        return 200 "pong";
  }
  location /auth-api {
        proxy_pass http://api-auth:3001;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
  }
  location /post-api {
        proxy_pass http://api-post:3002/api;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
  }
  location / {
    root /usr/share/nginx/html;
    index index.html index.htm;
    try_files $uri $uri/ /index.html =404;
  }
  
  include /etc/nginx/extra-conf.d/*.conf;
}